
.SensorStatusContainer{
  
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
  
}

.statusLabel, .status{
    font-size: 30px;
}

.sensorStatus{
    
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  
    
}



.sensorStatusBtnSection{
  
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.toggleBtn{
    
    display: flex;
    width: 60px;
    height: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 5px;
    cursor: pointer;

}

.onSideBtnon ,.onSideBtnoff, .offSideBtnon, .offSideBtnoff{
    width: 50%;
    height: 100%;
    background-color: rgb(122, 122, 122);
    border-radius: 5px 0px 0px 5px;
    color: green;
    font-size: 16px;
    transition: 0.3s ease-in-out;
    padding: 10px 20px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}
.onSideBtnoff{
   
    background-color: rgb(75, 75, 75);
    color: rgba(0, 0, 0, 0.24);
    border-radius: 5px 0px 0px 5px;
 
}

.offSideBtnon{
    
    background-color: rgb(75, 75, 75);
    color: rgba(0, 0, 0, 0.288);
    border-radius: 0px 5px 5px 0px;
    
}
.offSideBtnoff{
 
    background-color: rgb(92, 92, 92);
    border-radius: 0px 5px 5px 0px;
    color: red;
}



