.SensorDataModule{
    background-color: rgb(10, 43, 78);
    width: 80%;
    height: 60%;
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sensorDataContainer{
    border: 2px solid rgba(255, 255, 255, 0.305);
    border-radius: 10px;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

.sensorDataContainer h1{
    color: rgb(42, 180, 202);
    font-size: 15px;
   
}