.SensorDataModule{
    
    width: 90%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    font-family: "Courier New", Courier, monospace;
    
}


.sensorContainer{
    width: 60%;
    height: 400px;
    
}

.sensorModuleTitle{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.498);
    text-align: left;
    width: 90%;
}

.sensorDataContainer{
    font-family: "Courier New", Courier, monospace;
    width: 90%;
    height: 100%;
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.489);
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.323);
}

.sensorOffOverlay{
    width: 100%;
    height: 100%;
    background-color: rgba(18, 18, 18, 0.873);
    position: absolute;
    bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in;
    border: 1px solid rgba(255, 255, 255, 0.489);
    border-radius: 5px;
    font-family: "Courier New", Courier, monospace;

}

.sensorData{
    
    border: 2px solid rgba(255, 255, 255, 0.305);
    border-radius: 10px;
    height: 100%;
    width: 90%;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.dataContainer{
    width: 80%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 

}
.sensorDataContainer h1{
    color: rgb(242, 253, 255);
    font-size: 15px;
   
}



.timeStamp{
    color: aqua;
    font-size: 10px;
}

/* ALL section */


.sensorDataContainerAll{
    background-color: rgba(0, 0, 0, 0.274);
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
    border: 2px solid rgb(238, 238, 238);
   
}

.sensorDataAll{
    width: 100%;
    height: 100%;

  
    margin-bottom: 10px; 
    border: 2px solid rgba(244, 244, 244, 0.308);
    display: flex;
    
}

.sensorDataAllInner{
    width: 100%;
    height: 100%;

    display: flex;
}


.dataContainerAll{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    
}

.EnergyContainerAll{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}

.EnergyContainerAllInner{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}
.targetDataValues{
    font-size: 13px;
    text-align: left;
    width: 100%;
    color: white;
}


.targetData{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.loadingSpinnerContainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.targetThreatLevelContainer{
    width: 70%;
    display: flex;
    

}
.targetThreatLevel{
    padding: 5px 10px;
    font-family: "Courier New", Courier, monospace;
}
