
.SensorStatusContainer{
    background-color: red;
    display: flex;
    flex-direction: row;
}


.sensorStatus{
    background-color: orange;
    width: 50%;
    height: 100%;
}

.sensorStatusBtnSection{
    background-color: blue;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}