
.SensorStatusContainer{
  
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.sensorStatus{
    
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}



.sensorStatusBtnSection{
  
 
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusLabel{
    font-size: 20px;
}
.statusBtnon {
    width: 30px;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(21, 173, 1);
}

.statusBtnoff {
    width: 30px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
}
